button {
  border-radius: 3px;
  border-color: transparent;
  font-size: 13px;
  background: white;
  color: blue;
 cursor: pointer;
}
.fulloverlay {
	background-color: white;
}
.loading {
	max-width:10%;
}

.form-main {
	max-width: 720px;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	margin-top: 13%;
}

.form-logo {
	max-width: 600px;
	height: auto;
	margin: 0 auto;
}

.form-list {
	height:auto;
	margin-top:10%;
	max-width: 400px;
	background-color: black;
}
.keyword_list{
	height: auto;
	margin: 0 auto;
	max-width:300px;
	margin-top:7%;
}
.tdc{
	text-align:center;
	height: auto;
	margin: 0 auto;
}